$red: rgb(171, 12, 46);
$red-bright: rgb(207, 24, 63);
$red-dark: rgb(107, 13, 34);
$bg: #111;
$highlight: rgb(47, 211, 88);
$highlight-bright: rgb(74, 236, 115);

$nav-height: 50px;

@mixin container($width: 1200px) {
  max-width: $width;
  margin: 0 auto;
}

@mixin grid {
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin grid-order {
  display: grid;

  @for $i from 1 to 10 {
    & > *:nth-child(n + #{$i}) {
      grid-area: a#{$i};
    }
  }
}

@mixin pseudo {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

$mobile-width: 700px;
$bridge-width: 900px;
@mixin mobile {
  @media only screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin bridge {
  @media only screen and (max-width: #{$bridge-width}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$bridge-width + 1px}) {
    @content;
  }
}

* {
  transition: background 0.1s linear, filter 0.1s linear, opacity 0.1s linear, color 0.1s linear;
}

body,
html {
  padding: 0;
  margin: 0;
}

div {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: $bg;
  color: #eee;
}

.color-picker {
  width: 100px;
  height: 100px;
  cursor: grab;
  grid-area: color;
  position: relative;

  transition: all 0.3s cubic-bezier(0, 0, 1, 1.4);

  clip-path: circle(10% at 50% 50%);
  transform: rotate(120deg);

  &.enter,
  &.enter-done {
    clip-path: circle(100% at 50% 50%);
    transform: rotate(0deg);
  }

  &:active {
    cursor: grabbing;
  }

  & > div {
    transition: none;
    position: absolute;
    width: 25%;
    height: 25%;
    border: 2px solid #eee;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  background-size: contain;
}

@mixin outline($b: 3px, $color: $highlight) {
  outline: none;
  box-shadow: 0 0 0 $b $color;
}

input,
button,
a[role="button"],
select,
*[contentEditable] {
  &:focus {
    @include outline();
  }
}

button,
[role="button"] {
  cursor: pointer;
}

input,
button,
a[role="button"],
select {
  padding: 15px;
  border: none;
  background: #fff5;
  cursor: pointer;

  &:not(select) {
    &:not(.group):not(.line) {
      border-radius: 1000px;
    }

    &.group {
      &:first-child {
        border-bottom-left-radius: 1000px;
        border-top-left-radius: 1000px;
      }

      &:last-child {
        border-top-right-radius: 1000px;
        border-bottom-right-radius: 1000px;
      }
    }
  }

  &:hover {
    background: #fff8;
  }

  &.primary {
    background-color: $highlight;
    color: #000;
    font-weight: bold;

    &:hover {
      background-color: $highlight-bright;
    }
  }

  &.red {
    background-color: $red;
    color: white;

    &:hover {
      background-color: $red-bright;
    }
  }

  &[disabled] {
    background: #222 !important;
    cursor: default;
  }

  &.inProgress {
    &,
    &:hover {
      filter: saturate(0.6);
      cursor: wait;
    }
  }

  &.invalid {
    @include outline(3px, $red);
  }

  &[type="text"],
  &[type="password"],
  &[type="number"] {
    background: #fff2;
    color: #eee;
    cursor: text;
  }
}

input.line {
  background: transparent;
  border-radius: 0;
  border-bottom: #666 solid 1px;
  min-width: 300px;
}

.page {
  width: calc(100vw - 40px);
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;

  position: relative;
  width: calc(100vw - 80px);
  min-height: calc(100vh - #{$nav-height} - 20px);
}

select {
  padding: 10px;
  border: none;
  background: #333;
  color: #eee;
  margin: 5px 0;
  text-transform: capitalize;

  option {
    background: #333;
  }
}

.label-icon {
  color: white;
  border-radius: 100%;
  padding: 10px;
}

.container.labels {
  grid-template:
    "label"
    "tracks";

  .title {
    grid-area: label;
    @include grid();
    grid-template-columns: 1.7fr 9fr repeat(2, 1fr);
    gap: 10px;

    .label-icon {
      font-size: 2.5rem;
    }

    span {
      position: relative;
    }

    .label {
      width: 300px;
    }

    button {
      padding: 12px;
    }
  }

  .color-picker {
    right: 0px;
    top: 0px;
    position: absolute;
  }

  & > div {
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
  }
}

@mixin label($size) {
  padding: $size / 50 * 3;
  margin: $size / 25;
  min-width: $size;
  font-size: $size / 5;
}

.label {
  user-select: none;
  background-color: #fff6;
  border-radius: 1000px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  text-transform: capitalize;
  transition: width 0.1s linear;
  @include label(7rem);

  &.bright {
    color: black;
  }

  &.small {
    @include label(5rem);
  }

  &.big {
    @include label(10rem);
  }
}

@mixin ellipsis($pad) {
  padding: 0 $pad;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - #{$pad} * 2);
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  .cell {
    margin: 10px;
    background-color: #333;
    user-select: none;

    width: 200px;

    h4 {
      max-lines: 2;
      white-space: nowrap;
    }

    &.small {
      width: 100px;
    }

    &.big {
      width: 300px;
    }

    &.link:hover {
      @include outline();
    }

    .labels {
      display: flex;
      height: 2.5rem;
      margin: 0.5rem;
      overflow: hidden;
    }

    &.small {
      font-size: 0.8rem;
    }

    &.selected {
      @include outline(5px);
    }

    h4 {
      @include ellipsis(0.5rem);
    }
  }
}

.img {
  position: relative;

  img {
    height: 100%;
    width: 100%;

    &:after {
      @include pseudo();
      background-color: #222;
    }

    & + svg {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 6rem;
      color: #333;
      transform: translate(-50%, -50%);
    }
  }
}

a {
  text-decoration: none;
  color: #eee;
}

nav {
  height: $nav-height - 2px;
  background-color: #333;
  border-bottom: 2px solid #444;
  overflow: hidden;
  vertical-align: baseline;

  margin-bottom: 20px;

  a {
    float: left;
    text-align: center;
    padding: $nav-height / 3 0.2rem;
    font-weight: bold;

    span {
      border-radius: 1000px;
      padding: $nav-height / 6 1rem;
    }

    &:hover {
      span {
        background-color: #fff3;
      }
    }

    &.active {
      span {
        background-color: $highlight;
        color: #000;
      }
    }
  }
}

.contextmenu {
  position: fixed;
  /* border: 1px solid #000; */
  box-shadow: 2px 2px 15px 0 #000;
  border-radius: 15px;
  min-width: 70px;
  z-index: 100;

  button {
    width: 100%;
    text-align: left;
    background-color: #222;
    color: #eee;
    $border: 15px;

    &:hover {
      background-color: #444;
    }

    &:first-child {
      border-top-left-radius: $border;
      border-top-right-radius: $border;
    }

    &:last-child {
      border-bottom-left-radius: $border;
      border-bottom-right-radius: $border;
    }

    &.parent {
      &::after {
        color: #777;
        content: " >";
      }
    }
  }
}

@keyframes load {
  from {
    border: 20px solid transparent;
    padding: 10px;
    opacity: 0.6;
  }
  to {
    border: 0px solid transparent;
    padding: 30px;
    opacity: 1;
  }
}

.loading {
  &.relative {
    position: relative;
    margin: 10px auto;
  }

  &:not(.relative) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    @include pseudo();
    background-color: $highlight;
    border-radius: 100%;
  }

  width: fit-content;
  animation: load 0.5s ease-out infinite alternate;
}

.rule {
  user-select: none;

  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  grid-row: 1;

  background-color: #fff2;
  padding: 10px;
  border-radius: 1000px;
  transition: box-shadow 0.1s linear;
  position: relative;

  &:hover {
    box-shadow: 0 0 0 1px #0008;
  }

  &.hovered {
    &,
    & * {
      color: $highlight;
    }

    @include outline(1px);
  }

  &.invalid {
    @include outline(2px, $red);
  }

  &:not(.child) {
    min-width: 100px;
    margin: 0 auto;
    width: fit-content;
  }

  & > span:not(.rule) {
    padding: 3px;
  }

  & > button {
    display: inline;
    padding: 5px 8px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

.create {
  grid-template:
    "message message" 2fr
    "name submit"
    "rule rule" 2fr
    "creator creator" 5fr
    / 4fr 1fr;

  max-width: 800px;
  row-gap: 50px;

  .message {
    grid-area: message;
  }

  .creator {
    grid-area: creator;

    & > div {
      justify-content: center;
      align-items: center;

      background-color: #fff1;
      border-radius: 5px;
      padding: 20px;

      column-gap: 40px;

      @include grid-order();

      grid-template:
        "a1 a3 a5 a7 b" 1fr
        "a2 a4 a6 a8 b" 1fr;

      @include mobile() {
        grid-template:
          "a1"
          "a2"
          "a3"
          "a4"
          "a5"
          "a6"
          "a7"
          "a8"
          "b";
      }

      button {
        height: 100px;
        width: 100px;
        margin: auto;
        order: 5;
        grid-area: b !important;
      }

      select {
        width: 100%;
        display: block;
      }
    }
  }
}

.message {
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px;

  &.error {
    border-color: $red;
  }
}

.playlists {
  grid-template:
    ". create ."
    "list list list";
  row-gap: 30px;

  a {
    text-align: center;
    grid-area: create;
    min-width: 300px;
    max-width: 90%;
  }

  .grid {
    grid-area: list;
  }
}

.playlist {
  text-align: center;

  .title {
    grid-area: title;
    font-size: 4rem;
  }

  & > .img {
    grid-area: cover;
    border-radius: 10px;
    overflow: hidden;
  }

  @include desktop() {
    grid-template:
      "cover title sync"
      "cover info rule"
      "tracks tracks tracks"
      /1fr 1fr 1fr;
  }

  @include bridge() {
    grid-template:
      "cover"
      "title"
      "info"
      "sync"
      "rule"
      "tracks";
  }

  @include mobile() {
    .rule {
      & * {
        display: none;
      }
      &:before {
        content: "Open on desktop to see rule";
      }
    }
  }

  .sync {
    grid-area: sync;
    border-radius: 1000px;

    span + svg {
      margin-left: 0.4rem;
    }

    @include bridge() {
      padding: 15px 30px;
      margin: 0 auto;
    }

    @include desktop() {
      align-self: flex-start;
      justify-self: end;
    }
  }
}

.tooltip {
  $color: #222;
  $arrow: 7px;

  position: absolute;
  background-color: $color;
  z-index: 200;
  padding: 10px;
  border-radius: 5px;

  top: 95%;
  left: 50%;
  transform: translate(-50%, 0);

  text-transform: capitalize;

  &::before {
    @include pseudo();
    height: 0;
    width: 0;

    border-left: $arrow solid transparent;
    border-right: $arrow solid transparent;
    border-bottom: $arrow solid $color;

    left: calc(50% - #{$arrow});
    top: -$arrow;
  }
}

.editable {
  & + button.primary {
    position: absolute;
    top: 50%;
    transform: translate(-145%, -50%);
  }
}

.dialog {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $bg;
  border-radius: 20px;

  display: grid;
  grid-template:
    "title title"
    "yes no"
    / 1fr 1fr;
  gap: 10px;

  h1 {
    grid-area: title;
  }

  padding: 30px;
}

.blurred {
  filter: blur(5px);
}

.curtain {
  z-index: 999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.1s linear;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
